<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

    <key>Label</key>
    <string>com.jesus.finance_statements</string>

    <key>ProgramArguments</key>

    <array>
        <string>/bin/zsh</string>
        <string>/Users/jesusgarcia/git/financial-advisor/scripts/finance_statements.zsh</string>
    </array>

    <key>WatchPaths</key>

    <array>
        <string>/Users/jesusgarcia/Documents/Obsidian/second-brain/91_finance/Statements</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

</dict>

</plist>
